baseURL: "https://bouncmpe.netlify.app"
copyright: "Copyright © {year} Department of Computer Engineering, Boğaziçi University. All rights reserved."

defaultContentLanguage: en
defaultContentLanguageInSubdir: false

timeZone: Europe/Istanbul
paginate: 25

params:
  identifier: "`~/bouncmpe`"
  email: contact@cmpe.boun.edu.tr
  favicon: "images/logo.png"
  logo: "/images/logo.png"
  logo_height: 80px
  logo_width: 80px
  social:
    - identifier: twitter
      icon: twitter
      url: https://twitter.com/Bogazici_CmpE
    - identifier: github
      icon: github
      url: https://github.com/bouncmpe

outputs:
  home:
    - HTML
    - RSS
  page:
    - HTML
    - RSS

markup:
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      autoHeadingID: true
      autoHeadingIDType: github-ascii
      attribute:
        block: true
        title: true
    renderer:
      unsafe: true
